 @import url(https://db.onlinewebfonts.com/c/f7d34c9e4c3102c89048d775c27a78f3?family=The+Seasons+Bold);

  @font-face {
    font-family: "The Seasons Bold";
    src: url("https://db.onlinewebfonts.com/t/f7d34c9e4c3102c89048d775c27a78f3.eot");
    src: url("https://db.onlinewebfonts.com/t/f7d34c9e4c3102c89048d775c27a78f3.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/f7d34c9e4c3102c89048d775c27a78f3.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/f7d34c9e4c3102c89048d775c27a78f3.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/f7d34c9e4c3102c89048d775c27a78f3.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/f7d34c9e4c3102c89048d775c27a78f3.svg#The Seasons Bold")format("svg");
}
.old-standard-tt-regular {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-style: normal;
}

.old-standard-tt-bold {
  font-family: "Old Standard TT", serif;
  font-weight: 700;
  font-style: normal;
}

.old-standard-tt-regular-italic {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-style: italic;
}

.tenor-sans-regular {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body {
  margin: 0;
    background-color: #fff5e4;
    text-decoration: none;
}

/****************   Nav Section **********************/
nav {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
	background-color: #603fa8;
  color: white;
  align-items: center;
  font-family: "The Seasons Bold";
  padding: 10px;
}
nav a {
  color: white;
  text-decoration: none;
}
/***********************  Footer Section   **************************/
footer {
  display: flex;
  justify-content: center;
	background-color: #dcc0e3;
  align-items: center;
  text-decoration: none;
}

/*********** Splash Page ************************/

header {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

header h1 {
font-family: "The Seasons Bold";
  color: #603fa8;
}

header img{
  border:2px solid black;
  border-radius: 50%;
  
}


.address {
 font-family: "Tenor Sans";
 display: flex;
 justify-content: center;
 color: #603fa8;
}

.tagline {
  font-family: "Old Standard TT";
  display: flex;
  justify-content: center;
  padding: 10px;
  color: black;
}

/************* Sections ********************/
hr {
 
}

section h2 {
   font-family: "Tenor Sans";
  color: #603fa8;
  padding: 10px;
}

section dl {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 10px;
}

section ul {
  font-family: "Old Standard TT";
  margin: 10px;
}

section a {
text-decoration: none;
color: #603fa8;
padding: 10px;
}

section a:hover {
  text-decoration: underline;
}

/**************   Projects   *****************/
.three-col {
	display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 10px;
}

.three-col h3 {
   display: flex;
 justify-self: center;
  font-family: "Tenor Sans";
  color: #603fa8;
  gap: 10px;

}

.card img {
  display: flex;
 justify-self: center;
}

.card {
  border: 1px solid #603fa8;
  margin: 5px;
}

/**************   Responsiveness   *****************/
@media (max-width: 680px) {
    nav {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;  
    }

    .three-col {
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px;  
    }
}

/**************   Contact Page   *****************/
.one-col {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  max-width: 600px;
}

input {
  font-family: "Tenor Sans";

}

textarea {
    font-family: "Tenor Sans";
    color: #603fa8;
}